<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rcraggs.doubledose">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/painkiller">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.HistoryActivity"
            android:parentActivityName=".activity.MainActivity" />

        <activity android:name=".activity.DoseEditActivity" />

        <activity
            android:name=".activity.DrugAdminActivity"
            android:label="@string/title_activity_drug_admin"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rcraggs.doubledose.activity.MainActivity" />
        </activity>


        <receiver android:name=".util.NotificationPublisher" />
        <activity android:name=".activity.DrugAddEditActivity" />
    </application>

</manifest>